@import url("fonts.css");
/* reset style */
@import url("reset.css");
body {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    
}
/* --------------------------------- header ----------------------------- */
.header {

}
.header__menu {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.menu__item {
    text-align: center;
    line-height: 2;
}
.menu__link.blue {
    color: rgba(0, 76, 255, 0.9);
    text-shadow: 2px 2px 5px rgba(0, 76, 255, 0.9);
}
.menu__link.violet {
    color: rgb(226, 11, 226);
    text-shadow: 2px 2px 5px rgb(226, 11, 226);
}
.menu__link.green {
    color: rgb(22, 156, 62);
    text-shadow: 2px 2px 5px rgb(22, 156, 62);
}
/* --------------------------------- main ----------------------------- */
.page {
    line-height: 1.5;
}
.page__title {

}
[class*="__title"] {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
[class*="__link"] {
    font-size: 24px;
}
.page__text {
    text-align: center;
}
.page__text a {
    font-family: 'FBWhiteCatW34';
    color: rgb(0, 112, 90);
    font-size: 24px;
}
/* --------------------------------- page__about-onsens ----------------------------- */
.page__about-onsens {
    text-align: center;
}
.about-onsens__title {
    
}
.about-onsens__text a{
    font-family: 'FBWhiteCatW34';
    color: rgb(0, 112, 90);
    font-size: 24px;
}
.about-onsens__link {
    color: rgba(0, 76, 255, 0.9);
    text-shadow: 2px 2px 5px rgba(0, 76, 255, 0.9);
}
/* --------------------------------- page__medical-indications ----------------------------- */
.page__medical-indications{
    text-align: center;
}
.medical-indications__link {
    color: rgb(226, 11, 226);
    text-shadow: 2px 2px 5px rgb(226, 11, 226);
}
.medical-indications__list > li {
    font-family: "Amatic SC";
    font-size: 34px;
    color: rgba(0, 132, 150, 0.933);
}
/* --------------------------------- page__rules ----------------------------- */
.page__rules span{
    color: rgb(156, 156, 22);
}
.rules__img {
    text-align: center;
}
.rules__text a {
    font-family: 'FBWhiteCatW34';
    color: rgb(0, 112, 90);
    font-size: 24px;
}
.rules__text>p {
    text-align: justify;
}
.rules__block {
    text-align: center;
}
.rules__link {
    color: rgb(22, 156, 62);
    text-shadow: 2px 2px 5px rgb(22, 156, 62);
}
.page__subtitle {
    font-size: 50px;
    text-align: center;
}