/* reset style */
@import url("reset.css");
/* --------------------------------- header ----------------------------- */
.header {

}
.header__menu {

}
.menu__item {
    
}
.menu__link.orange {
    color: orange;
}
.menu__link.blue {
    color: blue;
}
.menu__link.yellow {
    color: rgb(156, 156, 22);
}
/* --------------------------------- main ----------------------------- */
.page {}
/* --------------------------------- page__section-html ----------------------------- */
.page__section-html span{
    color: orange;
}
.section-html__link {
    color: orange;
}
/* --------------------------------- page__section-css ----------------------------- */
.page__section-css span{
    color: blue;
}
.section-css__link {
    color: blue;
}
.section-css__text > p {
    color: darkcyan;
}
/* --------------------------------- page__section-js ----------------------------- */
.page__section-js span{
    color: rgb(156, 156, 22);
}
.section-js__link {
    color: rgb(156, 156, 22);
}
[class*="__title"] {
    color: rgb(0, 255, 98);
}